@font-face {
font-family: Capsuula;
src: url(Fonts/Capsuula.ttf);
}

.navbar {
list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    



}

.navbar li{
    float:right;
    
 
}
li{
    color:white;
}

.navbar li a{
   display: block;
    font-family: Capsuula,Tahoma,  sans-serif;

    color: white;
    text-align: center;
    padding: 12.75px 16px;
    text-decoration: none;
}
.navbar li :hover{
    background-color: hsl(199, 69%, 30%)     
        
}
li.pic{
   float:left;
    
}
li.pic a{

    padding: 0px 0px 0px;
}
body {
    background-color: black;
}
p{
    
    color: white;
}
h1,h2,h3{
    
   
    
    font-family: Capsuula, Tahoma,  sans-serif;

    text-align: center;
    
    color:white;
    
}
squaredHeader{
    max-width: 450px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right:auto;
    background-color: darkcyan;
    color:darkred;
    
}
headerBasic{
    margin-top: 0px;
    color:lightgray;
    
}
.leftP {
text-align:left;
max-width: 400px;
    font-family: Capsuula, Tahoma,  sans-serif;
}
.leftHeader {
    text-align: left;
    
}
.leftPaddedHeader {
    text-align: left;
    padding-left: 170px;
    
}
.rightP {

text-align:right;

padding-left: 70%;


}
.rightHeader {
    text-align: right;
    
    
}
back1{
    background-image: url(IndexPhotos/backgroundOne.JPG);
    background-size:contain;
    }
p {
<<<<<<< HEAD
   
}

=======
     font-family: Capsuula, Tahoma,  sans-serif;
}
.noBullets li{
    list-style: none;
}
li{
      font-family: Capsuula, Tahoma,  sans-serif;
}
>>>>>>> a985995e7e06dbf78c42fa5da81b22cded049515
